html,
body,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td,
hr,
button,
article,
aside,
details,
figcaption,
figure,
footer,
header,
menu,
nav,
section {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

body,
button,
input,
select,
textarea {
    font: 300 1em / 1.8 PingFang SC, Lantinghei SC, Microsoft Yahei, Hiragino Sans GB, Microsoft Sans Serif, WenQuanYi Micro Hei, sans-serif;
}

body {
    background-color: var(--second-bg-color);
    color: var(--text-color);
    font-weight: 200;
    font-size: 14px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: PingFang SC, Verdana, Helvetica Neue, Microsoft Yahei, Hiragino Sans GB, Microsoft Sans Serif, WenQuanYi Micro Hei, sans-serif;
    font-weight: 100;
}

ul,
ol {
    list-style: none;
}

a {
    cursor: pointer;
    color: var(--text-link-color);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

hr {
    margin: 0.5em 0;
    border: 0;
    border-bottom: var(--border-color);
}

code {
    font-family: 'yahei';
    font-weight: 200;
    color: var(--text-code-color);
}

blockquote {
    border: 0;
    padding: 0;
    margin: 0;
    padding-left: 1em;
}

@media screen and (min-width: 320px) and (max-width: 794px) {
    .page-warper {
        padding: 0;
    }
    .page-content {
        max-width: 794px;
        margin: 0 auto;
        background-color: var(--primary-bg-color);
        padding: 10px;
        border-radius: 5px;
    }
}

@media screen and (min-width: 794px) {
    .page-warper {
        padding: 40px 0;
    }
    .page-content {
        width: 794px;
        margin: 0 auto;
        background-color: var(--primary-bg-color);
        padding: 36.25px;
        border-radius: 5px;
        box-shadow: var(--box-shadow);
    }
}

.post-header {
    margin: 1em 0;
}

.update-time {
    color: var(--text-small-color);
}

.entry-content ul {
    margin-bottom: 1.5em;
}

.entry-content ul li ul {
    padding-left: 1em;
}

.entry-content h1 + ul {
    border-left: var(--border-color);
    padding-left: 1em;
}

.entry-content h2 + ul {
    border-left: var(--border-color);
    padding-left: 1em;
}

.entry-content h3 {
    padding-left: 1em;
}

.entry-content h3 + ul {
    padding-left: 3em;
    list-style: outside;
}

.entry-content h3 + ul li ul {
    list-style: outside circle;
}

.entry-content .fa {
    display: inline-block;
    vertical-align: middle;
}

.entry-content h1 .fa,
.entry-content h2 .fa {
    margin-right: 0.4em;
}
