html, body, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td, hr, button, article, aside, details, figcaption, figure, footer, header, menu, nav, section {
  margin: 0;
  padding: 0;
}

body, button, input, select, textarea {
  font: 300 1em / 1.8 PingFang SC, Lantinghei SC, Microsoft Yahei, Hiragino Sans GB, Microsoft Sans Serif, WenQuanYi Micro Hei, sans-serif;
}

body{
  background-color: #f2f1ed;
  font-weight: 200;
}

h1, h2, h3, h4, h5, h6 {
  font-family: PingFang SC, Verdana, Helvetica Neue, Microsoft Yahei, Hiragino Sans GB, Microsoft Sans Serif, WenQuanYi Micro Hei, sans-serif;
  font-weight: 100;
  line-height: 1.35;
  margin: 5px 0 10px 0;
}

ul, ol {
  list-style: none;
}

a {
  cursor: pointer;
  color: #1abc9c;
  text-decoration: none;
}

@media screen and (min-width: 320px) and (max-width: 800px) {
  .page-warper{
      background-color: #f2f1ed;
      padding: 0;
  }
  .page-content {
      width: 800px;
      margin: 0px auto;
      background-color: #faf9f5;
      padding: 20px;
      border-radius: 5px;
  }
}

@media screen and (min-width: 800px) {
  .page-warper{
      background-color: #f2f1ed;
      padding: 40px 0;
  }
  .page-content {
      width: 800px;
      margin: 0px auto;
      background-color: #faf9f5;
      padding: 20px;
      border-radius: 5px;
      box-shadow: 0px 0px 40px -15px #9E9E9E;
  }
}

h3 ~ ul li p{
  margin: 2px 0;
}

ul li ul{
  margin-left: 40px;
}

hr {
  display: block;
  unicode-bidi: isolate;
  margin-block-start: 0.5em;
  margin-block-end: 0.5em;
  margin-inline-start: auto;
  margin-inline-end: auto;
  overflow: hidden;
  border-style: inset;
  border-width: 1px;
}

/* h3 {
  border-left: 1px solid #000;
  padding-left: 5px;
} */

code {
  /* background-color: #787065; */
  /* border-bottom: 1px dotted #787065;
  padding: 0px 5px 1px 5px; */
  font-family: 'yahei';
  font-weight: 200;
  /* margin: 0 4px; */
  /* border-radius: 2px; */
  color: #d3547e;
}

.post-header {
  padding: 10px 0;
}

.update-time{
  font-size: 15px;
  color: #9c9c9c;
}

.font-white {
  color: #787065;
}

.entry-content ul{
  margin-bottom: 20px;
}

.entry-content ul li{
  /* padding: 2px 0px; */
  font-weight: 200;
  font-size: 15px;
}

.entry-content ul{
  margin-bottom: 20px;
}

.entry-content ul  li ul{
  margin-bottom: 0px;
}

.entry-content h3 {
  color: #332d24;
  padding-left: 20px;
}

.entry-content h3 + ul{
  padding-left: 20px;
}

.entry-content h3 ~ hr + ul{
  padding-left: 20px;
}

.entry-content h1 + ul{
  margin-top: 10px;
  border-left: 2px solid #9E9E9E;
  border-radius: 1px;
  padding-left: 10px;
}

.entry-content h2 + ul{
  margin-top: 10px;
  border-left: 2px solid #9E9E9E;
  border-radius: 1px;
  padding-left: 10px;
}

.entry-content h1 + ul li{
  /* padding: 2px 0; */
}

.fa {
  padding-right: 5px;
  display: inline-block;
  vertical-align: middle;
  width: 20px;
}

.entry-content blockquote {
  border: 0;
  padding: 0;
  margin: 0;
  padding-left: 20px;
}

.entry-content .fa + ul li {
  padding: 2px 0px;
}

.entry-content .fa + ul li::before {
  content: "&";
  display: inline-block;
  font-weight: bold;
  padding-right: 5px;
  /* background-color: #d3547e; */
}

.entry-content .fa + ul li {
  padding-left: 20px;
}

blockquote > ul >li:nth-child(1) {
  color: #332d24 !important;
  /* font-size: 20px; */
}

